*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #e9f1fb;
    padding: 10px 40px;
}

.header {
    text-align: center;
    padding: 10px 0;
}

.header h1{
    font-size: 50px;
    font-weight: 700;
    
}

.paragraph{
    margin-bottom: 20px;
}

.secondary-heading{
    font-size: 40px;
    margin-bottom: 20px;
    color: #7c99ba;
}

.dog-container{
    display: flex;
    gap: 20px;
}

.terrier-container{
    padding: 30px 0;
}
.dogo-container{
    padding: 30px 0;
}


.line{
    width: 70%;
    height: 10px;
    background-color: #7c99ba;
    margin: 0 auto;
    border-radius: 10px;
}

a{
    color: black;
}

footer ul {
    text-align: center;
    list-style: none;
    margin-bottom: 20px;
}
